@import 'app/styles/var';
@import 'app/styles/mixin';

$cate-padding: $space / 2;

.standard {
  position: relative;
  background: $white;

  &:before {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 20px;
    color: $light-grey;
    content: 'more_vert';
    font-family: 'Material Icons';
    opacity: 0.2;
  }
  h4,
  p {
    font-weight: 500;
  }
}

.selected {
  @extend .standard;
  background: $soft-grey;
  h4,
  p {
    color: $black;
  }
  h4 {
    font-weight: bold;
  }
  p {
    font-weight: 500;
  }
}

.info {
  display: flex;
  padding: 20px 40px 20px 20px;
  color: $light-grey;
  > div {
    width: 100%;
    > p {
      margin-left: $cate-padding;
      width: 240px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    > div {
      flex: 1;
      display: flex;
      margin-top: $cate-padding;
      justify-content: flex-end;
      a {
        margin-left: $cate-padding;
        color: $primary;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      i {
        font-size: 14px;
      }

      > p:first-child {
        > i {
          font-size: 15px;
        }
      }

      > a:nth-child(3) {
        color: $warning;
      }
    }
  }
}

.formWrapper {
  position: absolute;
  right: 120px;
  top: 45px;
  > form {
    margin-right: 10px;
    display: flex;
    input {
      width: 94px;
      height: 25px;
      margin-bottom: 0;
    }
    button {
      height: 25px;
      line-height: 0;
      margin-left: 10px;
      min-width: 42px;
    }
  }
}
